import init.mt6735.usb.rc
import init.modem.rc

on init
    # mount points
    mkdir /protect_f 0770 system radio
    mkdir /protect_s 0770 system radio
    mkdir /nvdata    0770 root nvram

on fs
    mount_all /fstab.mt6735

on post-fs
    symlink /sdcard /storage/sdcard0

    chown system radio /protect_f
    chmod 0770 /protect_f

    chown system radio /protect_s
    chmod 0770 /protect_s

    # NVRAM
    copy /fstab.mt6755 /nvdata/fstab.mt6755
    exec u:r:nvram_perms:s0 -- /system/bin/chown -R nvram:nvram /nvdata
    # This chmod does set 0660 for files and 0770 for dirs
    exec u:r:nvram_perms:s0 -- /system/bin/chmod -R u+rwX,g+rwX,o-rwx /nvdata
    chown root nvram /nvdata
    mkdir /nvdata/APCFG 0770 root nvram
    mkdir /nvdata/APCFG/APRDCL 0770 nvram nvram
    mkdir /nvdata/APCFG/APRDEB 0770 root nvram
    mkdir /nvdata/md     0770 nvram nvram
    mkdir /nvdata/md_cmn 0770 nvram nvram
    mkdir /nvdata/media  0770 nvram nvram
    # Kernel (root) needs access to these 2 files
    chown root nvram /nvdata/APCFG/APRDEB/WIFI
    chown root nvram /nvdata/APCFG/APRDEB/WIFI_CUSTOM

    restorecon_recursive /nvdata

    # Workaround for old nvram blobs
    mkdir /dev/block/platform/mtk-msdc.0/by-name 0755 root system
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/nvram /dev/block/platform/mtk-msdc.0/by-name/nvram
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/proinfo /dev/block/platform/mtk-msdc.0/by-name/proinfo

    # Wifi
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

    # BT
    chmod 0660 /dev/stpbt
    chown radio bluetooth /dev/stpbt

    chmod 0660 /dev/stpwmt
    chown system system /dev/stpwmt

    chmod 0660 /dev/wmtdetect
    chown system system /dev/wmtdetect

    # GPS
    chmod 0660 /dev/gps
    chown system gps /dev/gps
    chmod 0660 /dev/stpgps
    chown gps gps /dev/stpgps

on late-fs
    # boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256

on post-fs-data
    symlink /nvdata /data/nvram
    restorecon /data/nvram

    # DRM
    mkdir /data/drm/wv 0770 drm system

    # GPS
    mkdir /data/gps_mnl 0770 gps system
    mkdir /data/misc/gps 0770 gps gps

    # AGPS
    mkdir /data/agps_supl 0770 gps system

    # Thermal
    mkdir /data/.tp/ 0770 system system

on boot
    write /proc/sys/vm/dirty_writeback_centisecs 300

    # RIL
    mkdir /dev/radio 0770 radio radio

    # BWC
    chown system camera /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario
    chmod 0660 /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario

    # IO Scheduler
    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0660 /sys/block/mmcblk0/queue/scheduler

    # CPUFreq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

    # Gyroscope
    chown system system /sys/bus/platform/drivers/gyroscope/gyro_orientation
    chmod 0660 /sys/bus/platform/drivers/gyroscope/gyro_orientation

    # Smartwake
    chown system system /sys/devices/bus.2/11008000.I2C1/i2c-1/1-0020/gesture
    chmod 0660 /sys/devices/bus.2/11008000.I2C1/i2c-1/1-0020/gesture

    # Fastcharge
    chown system system /sys/kernel/charge_levels/quick_charge_enable
    chown system system /sys/kernel/charge_levels/charge_level_ac
    chown system system /sys/kernel/charge_levels/charge_level_usb

on property:sys.boot_completed=1
    # end boot time fs tune
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/mmcblk0/queue/iostats 1

# Charger
service charger /charger
    class charger
    seclabel u:r:charger:s0
